<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car list</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Cars list</h1>
<div>
    <table>
        <tr>
            <th>model</th>
            <th>year</th>
            <th>ls</th>
        </tr>
        <tr th:each="car : ${listCars}">
            <td th:utext="${car.model}">...</td>
            <td th:utext="${car.year}">...</td>
            <td th:utext="${car.ls}">...</td>
        </tr>
    </table>
</div>
</body>
</html>